@import "./custom/file-header.css";
/**
 * The line above injects the WordPress file header. It needs to be first,
 * before this comment.
 */

/**
 * This injects custom `@font-face` rules.
 */
@import "./custom/fonts.css";

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins, then adds custom base styles.
 */
@import "tailwindcss/base";
@import "./custom/base.css";

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins, then adds custom component classes.
 *
 * The `@import-glob` line imports all CSS files from the `components`
 * directory (except for `components.css`, which is imported on the following
 * line). This is meant to simplify the process of integrating styles from
 * JavaScript components or WordPress plugins.
 */
@import "tailwindcss/components";
@import-glob "./custom/components/**/!(components).css";
@import "./custom/components/components.css";

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins, then adds custom utility classes.
 */
@import "tailwindcss/utilities";
@import "./custom/utilities.css";


progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
    background: #333;
    background-attachment: fixed;
}
progress::-moz-progress-bar {
    background: #333;
    background-attachment: fixed;
}

.slide-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
}
.home--page {
    max-height:100vh;
}

:root {
    scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#container {
  height: 100vh;
  top: 60px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;

}
#container .module {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: left;
}
.img {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pin-spacer {
    top: 0 !important;
}
.container {
    overflow: hidden !important;

}
.text-on-path {
    font-size: 50px;
    fill: black;
}

svg {
width: 100%;
}
